/budget.db
__pycache__/database.cpython-310.pyc
__pycache__/account_management.cpython-310.pyc
__pycache__/account_screen.cpython-310.pyc
__pycache__/budget_screen.cpython-310.pyc
__pycache__/category_management.cpython-310.pyc
__pycache__/category_management_screen.cpython-310.pyc
__pycache__/account_management_screen.cpython-310.pyc
.DS_Store
build/main/Analysis-00.toc
build/main/base_library.zip
build/main/BudgetApp
build/main/BudgetApp.pkg
build/main/COLLECT-00.toc
build/main/EXE-00.toc
build/main/graph-main.dot
build/main/PKG-00.toc
build/main/PYZ-00.pyz
build/main/PYZ-00.toc
build/main/warn-main.txt
build/main/xref-main.html
build/main/localpycs/pyimod01_archive.pyc
build/main/localpycs/pyimod02_importers.pyc
build/main/localpycs/pyimod03_ctypes.pyc
build/main/localpycs/struct.pyc
dist/.DS_Store
dist/main/BudgetApp
dist/main/_internal/base_library.zip
dist/main/_internal/budget.db
dist/main/_internal/libbrotlicommon.1.1.0.dylib
dist/main/_internal/libbrotlidec.1.1.0.dylib
dist/main/_internal/libfreetype.6.dylib
dist/main/_internal/libharfbuzz.0.dylib
dist/main/_internal/libjpeg.62.4.0.dylib
dist/main/_internal/liblcms2.2.dylib
dist/main/_internal/liblzma.5.dylib
dist/main/_internal/libopenjp2.2.5.3.dylib
dist/main/_internal/libpng16.16.dylib
dist/main/_internal/libsharpyuv.0.dylib
dist/main/_internal/libtiff.6.dylib
dist/main/_internal/libwebp.7.dylib
dist/main/_internal/libwebpdemux.2.dylib
dist/main/_internal/libwebpmux.3.dylib
dist/main/_internal/libXau.6.dylib
dist/main/_internal/libxcb.1.1.0.dylib
dist/main/_internal/libz.1.3.1.zlib-ng.dylib
dist/main/_internal/png
dist/main/_internal/Python3
dist/main/_internal/SDL2
dist/main/_internal/SDL2_image
dist/main/_internal/SDL2_mixer
dist/main/_internal/SDL2_ttf
dist/main/_internal/certifi/cacert.pem
dist/main/_internal/certifi/py.typed
dist/main/_internal/docutils/docutils.conf
dist/main/_internal/docutils/parsers/rst/include/isoamsa.txt
dist/main/_internal/docutils/parsers/rst/include/isoamsb.txt
dist/main/_internal/docutils/parsers/rst/include/isoamsc.txt
dist/main/_internal/docutils/parsers/rst/include/isoamsn.txt
dist/main/_internal/docutils/parsers/rst/include/isoamso.txt
dist/main/_internal/docutils/parsers/rst/include/isoamsr.txt
dist/main/_internal/docutils/parsers/rst/include/isobox.txt
dist/main/_internal/docutils/parsers/rst/include/isocyr1.txt
dist/main/_internal/docutils/parsers/rst/include/isocyr2.txt
dist/main/_internal/docutils/parsers/rst/include/isodia.txt
dist/main/_internal/docutils/parsers/rst/include/isogrk1.txt
dist/main/_internal/docutils/parsers/rst/include/isogrk2.txt
dist/main/_internal/docutils/parsers/rst/include/isogrk3.txt
dist/main/_internal/docutils/parsers/rst/include/isogrk4-wide.txt
dist/main/_internal/docutils/parsers/rst/include/isogrk4.txt
dist/main/_internal/docutils/parsers/rst/include/isolat1.txt
dist/main/_internal/docutils/parsers/rst/include/isolat2.txt
dist/main/_internal/docutils/parsers/rst/include/isomfrk-wide.txt
dist/main/_internal/docutils/parsers/rst/include/isomfrk.txt
dist/main/_internal/docutils/parsers/rst/include/isomopf-wide.txt
dist/main/_internal/docutils/parsers/rst/include/isomopf.txt
dist/main/_internal/docutils/parsers/rst/include/isomscr-wide.txt
dist/main/_internal/docutils/parsers/rst/include/isomscr.txt
dist/main/_internal/docutils/parsers/rst/include/isonum.txt
dist/main/_internal/docutils/parsers/rst/include/isopub.txt
dist/main/_internal/docutils/parsers/rst/include/isotech.txt
dist/main/_internal/docutils/parsers/rst/include/mmlalias.txt
dist/main/_internal/docutils/parsers/rst/include/mmlextra-wide.txt
dist/main/_internal/docutils/parsers/rst/include/mmlextra.txt
dist/main/_internal/docutils/parsers/rst/include/README.txt
dist/main/_internal/docutils/parsers/rst/include/s5defs.txt
dist/main/_internal/docutils/parsers/rst/include/xhtml1-lat1.txt
dist/main/_internal/docutils/parsers/rst/include/xhtml1-special.txt
dist/main/_internal/docutils/parsers/rst/include/xhtml1-symbol.txt
dist/main/_internal/docutils/writers/html4css1/html4css1.css
dist/main/_internal/docutils/writers/html4css1/template.txt
dist/main/_internal/docutils/writers/html5_polyglot/italic-field-names.css
dist/main/_internal/docutils/writers/html5_polyglot/math.css
dist/main/_internal/docutils/writers/html5_polyglot/minimal.css
dist/main/_internal/docutils/writers/html5_polyglot/plain.css
dist/main/_internal/docutils/writers/html5_polyglot/responsive.css
dist/main/_internal/docutils/writers/html5_polyglot/template.txt
dist/main/_internal/docutils/writers/html5_polyglot/tuftig.css
dist/main/_internal/docutils/writers/latex2e/default.tex
dist/main/_internal/docutils/writers/latex2e/docutils.sty
dist/main/_internal/docutils/writers/latex2e/titlepage.tex
dist/main/_internal/docutils/writers/latex2e/titlingpage.tex
dist/main/_internal/docutils/writers/latex2e/xelatex.tex
dist/main/_internal/docutils/writers/odf_odt/styles.odt
dist/main/_internal/docutils/writers/pep_html/pep.css
dist/main/_internal/docutils/writers/pep_html/template.txt
dist/main/_internal/docutils/writers/s5_html/themes/README.txt
dist/main/_internal/docutils/writers/s5_html/themes/big-black/__base__
dist/main/_internal/docutils/writers/s5_html/themes/big-black/framing.css
dist/main/_internal/docutils/writers/s5_html/themes/big-black/pretty.css
dist/main/_internal/docutils/writers/s5_html/themes/big-white/framing.css
dist/main/_internal/docutils/writers/s5_html/themes/big-white/pretty.css
dist/main/_internal/docutils/writers/s5_html/themes/default/framing.css
dist/main/_internal/docutils/writers/s5_html/themes/default/opera.css
dist/main/_internal/docutils/writers/s5_html/themes/default/outline.css
dist/main/_internal/docutils/writers/s5_html/themes/default/pretty.css
dist/main/_internal/docutils/writers/s5_html/themes/default/print.css
dist/main/_internal/docutils/writers/s5_html/themes/default/s5-core.css
dist/main/_internal/docutils/writers/s5_html/themes/default/slides.css
dist/main/_internal/docutils/writers/s5_html/themes/default/slides.js
dist/main/_internal/docutils/writers/s5_html/themes/medium-black/__base__
dist/main/_internal/docutils/writers/s5_html/themes/medium-black/pretty.css
dist/main/_internal/docutils/writers/s5_html/themes/medium-white/framing.css
dist/main/_internal/docutils/writers/s5_html/themes/medium-white/pretty.css
dist/main/_internal/docutils/writers/s5_html/themes/small-black/__base__
dist/main/_internal/docutils/writers/s5_html/themes/small-black/pretty.css
dist/main/_internal/docutils/writers/s5_html/themes/small-white/framing.css
dist/main/_internal/docutils/writers/s5_html/themes/small-white/pretty.css
dist/main/_internal/importlib_metadata-8.6.1.dist-info/INSTALLER
dist/main/_internal/importlib_metadata-8.6.1.dist-info/LICENSE
dist/main/_internal/importlib_metadata-8.6.1.dist-info/METADATA
dist/main/_internal/importlib_metadata-8.6.1.dist-info/RECORD
dist/main/_internal/importlib_metadata-8.6.1.dist-info/top_level.txt
dist/main/_internal/importlib_metadata-8.6.1.dist-info/WHEEL
dist/main/_internal/kivy/_clock.cpython-39-darwin.so
dist/main/_internal/kivy/_event.cpython-39-darwin.so
dist/main/_internal/kivy/_metrics.cpython-39-darwin.so
dist/main/_internal/kivy/properties.cpython-39-darwin.so
dist/main/_internal/kivy/weakproxy.cpython-39-darwin.so
dist/main/_internal/kivy/.dylibs/png
dist/main/_internal/kivy/.dylibs/SDL2
dist/main/_internal/kivy/.dylibs/SDL2_image
dist/main/_internal/kivy/.dylibs/SDL2_mixer
dist/main/_internal/kivy/.dylibs/SDL2_ttf
dist/main/_internal/kivy/core/audio/audio_sdl2.cpython-39-darwin.so
dist/main/_internal/kivy/core/camera/camera_avfoundation.cpython-39-darwin.so
dist/main/_internal/kivy/core/clipboard/_clipboard_sdl2.cpython-39-darwin.so
dist/main/_internal/kivy/core/image/_img_sdl2.cpython-39-darwin.so
dist/main/_internal/kivy/core/image/img_imageio.cpython-39-darwin.so
dist/main/_internal/kivy/core/text/_text_sdl2.cpython-39-darwin.so
dist/main/_internal/kivy/core/text/text_layout.cpython-39-darwin.so
dist/main/_internal/kivy/core/window/_window_sdl2.cpython-39-darwin.so
dist/main/_internal/kivy/core/window/window_info.cpython-39-darwin.so
dist/main/_internal/kivy/graphics/boxshadow.cpython-39-darwin.so
dist/main/_internal/kivy/graphics/buffer.cpython-39-darwin.so
dist/main/_internal/kivy/graphics/cgl.cpython-39-darwin.so
dist/main/_internal/kivy/graphics/compiler.cpython-39-darwin.so
dist/main/_internal/kivy/graphics/context_instructions.cpython-39-darwin.so
dist/main/_internal/kivy/graphics/context.cpython-39-darwin.so
dist/main/_internal/kivy/graphics/fbo.cpython-39-darwin.so
dist/main/_internal/kivy/graphics/gl_instructions.cpython-39-darwin.so
dist/main/_internal/kivy/graphics/instructions.cpython-39-darwin.so
dist/main/_internal/kivy/graphics/opengl_utils.cpython-39-darwin.so
dist/main/_internal/kivy/graphics/opengl.cpython-39-darwin.so
dist/main/_internal/kivy/graphics/scissor_instructions.cpython-39-darwin.so
dist/main/_internal/kivy/graphics/shader.cpython-39-darwin.so
dist/main/_internal/kivy/graphics/stencil_instructions.cpython-39-darwin.so
dist/main/_internal/kivy/graphics/svg.cpython-39-darwin.so
dist/main/_internal/kivy/graphics/tesselator.cpython-39-darwin.so
dist/main/_internal/kivy/graphics/texture.cpython-39-darwin.so
dist/main/_internal/kivy/graphics/transformation.cpython-39-darwin.so
dist/main/_internal/kivy/graphics/vbo.cpython-39-darwin.so
dist/main/_internal/kivy/graphics/vertex_instructions.cpython-39-darwin.so
dist/main/_internal/kivy/graphics/vertex.cpython-39-darwin.so
dist/main/_internal/kivy/graphics/cgl_backend/cgl_debug.cpython-39-darwin.so
dist/main/_internal/kivy/graphics/cgl_backend/cgl_gl.cpython-39-darwin.so
dist/main/_internal/kivy/graphics/cgl_backend/cgl_glew.cpython-39-darwin.so
dist/main/_internal/kivy/graphics/cgl_backend/cgl_mock.cpython-39-darwin.so
dist/main/_internal/kivy/graphics/cgl_backend/cgl_sdl2.cpython-39-darwin.so
dist/main/_internal/kivy_install/data/settings_kivy.json
dist/main/_internal/kivy_install/data/style.kv
dist/main/_internal/kivy_install/data/fonts/DejaVuSans.ttf
dist/main/_internal/kivy_install/data/fonts/Roboto-Bold.ttf
dist/main/_internal/kivy_install/data/fonts/Roboto-BoldItalic.ttf
dist/main/_internal/kivy_install/data/fonts/Roboto-Italic.ttf
dist/main/_internal/kivy_install/data/fonts/Roboto-Regular.ttf
dist/main/_internal/kivy_install/data/fonts/RobotoMono-Regular.ttf
dist/main/_internal/kivy_install/data/glsl/default.fs
dist/main/_internal/kivy_install/data/glsl/default.png
dist/main/_internal/kivy_install/data/glsl/default.vs
dist/main/_internal/kivy_install/data/glsl/header.fs
dist/main/_internal/kivy_install/data/glsl/header.vs
dist/main/_internal/kivy_install/data/images/background.jpg
dist/main/_internal/kivy_install/data/images/cursor.png
dist/main/_internal/kivy_install/data/images/defaultshape.png
dist/main/_internal/kivy_install/data/images/defaulttheme-0.png
dist/main/_internal/kivy_install/data/images/defaulttheme.atlas
dist/main/_internal/kivy_install/data/images/image-loading.gif
dist/main/_internal/kivy_install/data/images/image-loading.zip
dist/main/_internal/kivy_install/data/images/testpattern.png
dist/main/_internal/kivy_install/data/keyboards/azerty.json
dist/main/_internal/kivy_install/data/keyboards/de_CH.json
dist/main/_internal/kivy_install/data/keyboards/de.json
dist/main/_internal/kivy_install/data/keyboards/en_US.json
dist/main/_internal/kivy_install/data/keyboards/es_ES.json
dist/main/_internal/kivy_install/data/keyboards/fr_CH.json
dist/main/_internal/kivy_install/data/keyboards/qwerty.json
dist/main/_internal/kivy_install/data/keyboards/qwertz.json
dist/main/_internal/kivy_install/data/logo/kivy-icon-16.png
dist/main/_internal/kivy_install/data/logo/kivy-icon-24.png
dist/main/_internal/kivy_install/data/logo/kivy-icon-32.png
dist/main/_internal/kivy_install/data/logo/kivy-icon-48.png
dist/main/_internal/kivy_install/data/logo/kivy-icon-64.ico
dist/main/_internal/kivy_install/data/logo/kivy-icon-64.png
dist/main/_internal/kivy_install/data/logo/kivy-icon-128.png
dist/main/_internal/kivy_install/data/logo/kivy-icon-256.png
dist/main/_internal/kivy_install/data/logo/kivy-icon-512.png
dist/main/_internal/kivy_install/modules/__init__.py
dist/main/_internal/kivy_install/modules/_webdebugger.py
dist/main/_internal/kivy_install/modules/console.py
dist/main/_internal/kivy_install/modules/cursor.py
dist/main/_internal/kivy_install/modules/inspector.py
dist/main/_internal/kivy_install/modules/joycursor.py
dist/main/_internal/kivy_install/modules/keybinding.py
dist/main/_internal/kivy_install/modules/monitor.py
dist/main/_internal/kivy_install/modules/recorder.py
dist/main/_internal/kivy_install/modules/screen.py
dist/main/_internal/kivy_install/modules/showborder.py
dist/main/_internal/kivy_install/modules/touchring.py
dist/main/_internal/kivy_install/modules/webdebugger.py
dist/main/_internal/lib-dynload/_asyncio.cpython-39-darwin.so
dist/main/_internal/lib-dynload/_bisect.cpython-39-darwin.so
dist/main/_internal/lib-dynload/_blake2.cpython-39-darwin.so
dist/main/_internal/lib-dynload/_bz2.cpython-39-darwin.so
dist/main/_internal/lib-dynload/_codecs_cn.cpython-39-darwin.so
dist/main/_internal/lib-dynload/_codecs_hk.cpython-39-darwin.so
dist/main/_internal/lib-dynload/_codecs_iso2022.cpython-39-darwin.so
dist/main/_internal/lib-dynload/_codecs_jp.cpython-39-darwin.so
dist/main/_internal/lib-dynload/_codecs_kr.cpython-39-darwin.so
dist/main/_internal/lib-dynload/_codecs_tw.cpython-39-darwin.so
dist/main/_internal/lib-dynload/_contextvars.cpython-39-darwin.so
dist/main/_internal/lib-dynload/_csv.cpython-39-darwin.so
dist/main/_internal/lib-dynload/_ctypes.cpython-39-darwin.so
dist/main/_internal/lib-dynload/_datetime.cpython-39-darwin.so
dist/main/_internal/lib-dynload/_decimal.cpython-39-darwin.so
dist/main/_internal/lib-dynload/_elementtree.cpython-39-darwin.so
dist/main/_internal/lib-dynload/_hashlib.cpython-39-darwin.so
dist/main/_internal/lib-dynload/_heapq.cpython-39-darwin.so
dist/main/_internal/lib-dynload/_json.cpython-39-darwin.so
dist/main/_internal/lib-dynload/_lzma.cpython-39-darwin.so
dist/main/_internal/lib-dynload/_md5.cpython-39-darwin.so
dist/main/_internal/lib-dynload/_multibytecodec.cpython-39-darwin.so
dist/main/_internal/lib-dynload/_multiprocessing.cpython-39-darwin.so
dist/main/_internal/lib-dynload/_opcode.cpython-39-darwin.so
dist/main/_internal/lib-dynload/_pickle.cpython-39-darwin.so
dist/main/_internal/lib-dynload/_posixshmem.cpython-39-darwin.so
dist/main/_internal/lib-dynload/_posixsubprocess.cpython-39-darwin.so
dist/main/_internal/lib-dynload/_queue.cpython-39-darwin.so
dist/main/_internal/lib-dynload/_random.cpython-39-darwin.so
dist/main/_internal/lib-dynload/_scproxy.cpython-39-darwin.so
dist/main/_internal/lib-dynload/_sha1.cpython-39-darwin.so
dist/main/_internal/lib-dynload/_sha3.cpython-39-darwin.so
dist/main/_internal/lib-dynload/_sha256.cpython-39-darwin.so
dist/main/_internal/lib-dynload/_sha512.cpython-39-darwin.so
dist/main/_internal/lib-dynload/_socket.cpython-39-darwin.so
dist/main/_internal/lib-dynload/_sqlite3.cpython-39-darwin.so
dist/main/_internal/lib-dynload/_ssl.cpython-39-darwin.so
dist/main/_internal/lib-dynload/_statistics.cpython-39-darwin.so
dist/main/_internal/lib-dynload/_struct.cpython-39-darwin.so
dist/main/_internal/lib-dynload/_uuid.cpython-39-darwin.so
dist/main/_internal/lib-dynload/array.cpython-39-darwin.so
dist/main/_internal/lib-dynload/binascii.cpython-39-darwin.so
dist/main/_internal/lib-dynload/fcntl.cpython-39-darwin.so
dist/main/_internal/lib-dynload/grp.cpython-39-darwin.so
dist/main/_internal/lib-dynload/math.cpython-39-darwin.so
dist/main/_internal/lib-dynload/mmap.cpython-39-darwin.so
dist/main/_internal/lib-dynload/pyexpat.cpython-39-darwin.so
dist/main/_internal/lib-dynload/readline.cpython-39-darwin.so
dist/main/_internal/lib-dynload/resource.cpython-39-darwin.so
dist/main/_internal/lib-dynload/select.cpython-39-darwin.so
dist/main/_internal/lib-dynload/termios.cpython-39-darwin.so
dist/main/_internal/lib-dynload/unicodedata.cpython-39-darwin.so
dist/main/_internal/lib-dynload/zlib.cpython-39-darwin.so
dist/main/_internal/PIL/_imaging.cpython-39-darwin.so
dist/main/_internal/PIL/_imagingcms.cpython-39-darwin.so
dist/main/_internal/PIL/_imagingft.cpython-39-darwin.so
dist/main/_internal/PIL/_imagingmath.cpython-39-darwin.so
dist/main/_internal/PIL/_imagingtk.cpython-39-darwin.so
dist/main/_internal/PIL/_webp.cpython-39-darwin.so
dist/main/_internal/PIL/.dylibs/libbrotlicommon.1.1.0.dylib
dist/main/_internal/PIL/.dylibs/libbrotlidec.1.1.0.dylib
dist/main/_internal/PIL/.dylibs/libfreetype.6.dylib
dist/main/_internal/PIL/.dylibs/libharfbuzz.0.dylib
dist/main/_internal/PIL/.dylibs/libjpeg.62.4.0.dylib
dist/main/_internal/PIL/.dylibs/liblcms2.2.dylib
dist/main/_internal/PIL/.dylibs/liblzma.5.dylib
dist/main/_internal/PIL/.dylibs/libopenjp2.2.5.3.dylib
dist/main/_internal/PIL/.dylibs/libpng16.16.dylib
dist/main/_internal/PIL/.dylibs/libsharpyuv.0.dylib
dist/main/_internal/PIL/.dylibs/libtiff.6.dylib
dist/main/_internal/PIL/.dylibs/libwebp.7.dylib
dist/main/_internal/PIL/.dylibs/libwebpdemux.2.dylib
dist/main/_internal/PIL/.dylibs/libwebpmux.3.dylib
dist/main/_internal/PIL/.dylibs/libXau.6.dylib
dist/main/_internal/PIL/.dylibs/libxcb.1.1.0.dylib
dist/main/_internal/PIL/.dylibs/libz.1.3.1.zlib-ng.dylib
dist/main/_internal/Python3.framework/Python3
dist/main/_internal/Python3.framework/Resources
dist/main/_internal/Python3.framework/Versions/Current
dist/main/_internal/Python3.framework/Versions/3.9/Python3
dist/main/_internal/Python3.framework/Versions/3.9/Resources/Info.plist
dist/main/_internal/sqlalchemy/cyextension/collections.cpython-39-darwin.so
dist/main/_internal/sqlalchemy/cyextension/immutabledict.cpython-39-darwin.so
dist/main/_internal/sqlalchemy/cyextension/processors.cpython-39-darwin.so
dist/main/_internal/sqlalchemy/cyextension/resultproxy.cpython-39-darwin.so
dist/main/_internal/sqlalchemy/cyextension/util.cpython-39-darwin.so
