/budget.db
__pycache__/database.cpython-310.pyc
__pycache__/account_management.cpython-310.pyc
__pycache__/account_screen.cpython-310.pyc
__pycache__/budget_screen.cpython-310.pyc
__pycache__/category_management.cpython-310.pyc